 <!-- Side-Nav -->
 <div
 class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column"
 id="sidebar"
>
 <ul class="nav flex-column w-100">
   <a href="#" class="nav-link h5 my-2">
    PAINEL ADMINISTRATIVO
   </a>
   <a href="">
    <li class="nav-link text-white">
      <i class="fa-solid fa-quote-left"></i>
      <span class="mx-2">Frases</span>
    </li>
    </a>
   <li class="nav-link  text-white">
     <i class="fa-solid fa-flag"></i>
     <span class="mx-2">Categoria</span>
   </li>
   <li href="#" class="nav-link  text-white">
    <i class="fa-solid fa-star"></i>
     <span class="mx-2">Níveis</span>
   </li>
 </ul>
</div>

 <!-- Top Nav -->
 <nav class="navbar top-navbar navbar-light bg-light px-5">
  <a class="btn border-0" id="menu-btn"><i class="bx bx-menu"></i></a>
</nav>