</body>
<script src="/res/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/jquery-3.5.1.js"></script>
<script src="/js/audio.js"></script>
<script src="/js/pratice-voice.js"></script>
<script>
    
</script>
</html>