<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/res/bootstrap/css/bootstrap.min.css">
   <link rel="stylesheet" href="/res/bootstrap/css/bootstrap-icons.css"> 
    <link rel="stylesheet" href="/res/fontawesome/css/all.css">
    <link rel="stylesheet" href="/res/datatables.net/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="/res/datatables.net/css/buttons.bootstrap5.min.css">    
    <link rel="stylesheet" href="/res/datatables.net/css/select.bootstrap5.min.css">
    <!-- <link rel="stylesheet" href="/res/datatables.net/css/dataTables.dataTime.min.css"> -->
    <link rel="stylesheet" href="/res/datatables.net/css/editor.bootstrap5.min.css">
    <link rel="stylesheet" href="/css/portal.css">

    <title>Praticando inglês</title>
</head>
<body>