<nav class="navbar" style="background-color: rgb(50, 46, 100); color: #fff; font-size: 30pt;">
    <div class="container d-flex justify-content-center">
        <b> PRATICANDO INGLÊS</b>
    </div>
  </nav>
  
