<%- include ('../../partials-portal/header') %>
<%- include ('../../partials-portal/navbar') %>

<div class="container">
    <div class="row">
        <div class="section">
            
        </div>
    </div>
</div>

<%- include ('../../partials-portal/footer') %>