<%- include ('../../partials/header') %>
<div class="py-3 text-center align-items-center d-flex m-0" >
    <div class="container py-5">
      <div class="row">
        <div class="col-md-8 mx-auto"> 
        <img src="/img/simbol.png">
          <img src="/img/banner.png">
          <p class="lead mb-3 mt-3">
            Inglês é uma das línguas mais faladas no planeta. Aprender ela é extramamente essencial e necessário para o seu futuro profissional e pessoal.
          </p>
          <a class="btn btn-lg" style="background-color: #0C3D80; color:#fff;" href="/dashboard">
            Vamos praticar?
          </a>
        </div>
      </div>
    </div>
  </div>
<%- include ('../../partials/footer') %>
